@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: 'Montserrat', sans-serif;
}

.bg-hero{
  background-image: url('./assets/home/hero-bg.jpeg');
}

.hero-title{
  background-image: url('./assets/home/titlebg.svg');
  background-repeat: no-repeat;
}

.whowe{
  background-image: url('./assets/home/whowe.svg');
  background-repeat: no-repeat;
}

.bg-cyc {
  background-position: top center;
  position: relative;
}

.card-inside {
  position: relative;
}

.bg-class::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url('https://images.pexels.com/photos/4162595/pexels-photo-4162595.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  /* background-color: black; */
  filter: grayscale(100%);
  border-radius: 20px;
}

.bg-class:hover::before {
  transition: all;
  transition-duration: 300ms;
  filter: grayscale(0%);
  background-position: bottom left;
}

.bg-karate::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url('https://images.pexels.com/photos/4428290/pexels-photo-4428290.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  /* background-color: black; */
  filter: grayscale(100%);
  border-radius: 20px;
  background-position: center;
}


.bg-karate:hover::before {
  transition: all;
  transition-duration: 300ms;
  filter: grayscale(0%);
  background-position: bottom;
}

.bg-weight-lift::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url('https://images.pexels.com/photos/685531/pexels-photo-685531.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  /* background-color: black; */
  filter: grayscale(100%);
  border-radius: 20px;
  background-position: center;
}


.bg-weight-lift:hover::before {
  transition: all;
  transition-duration: 300ms;
  filter: grayscale(0%);
  background-position: right;
}

.bg-meditation::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url('https://images.pexels.com/photos/8436715/pexels-photo-8436715.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  /* background-color: black; */
  filter: grayscale(100%);
  border-radius: 20px;
  background-position: top left;
}


.bg-meditation:hover::before {
  transition: all;
  transition-duration: 300ms;
  filter: grayscale(0%);
  background-position: top center;
}

.bg-martial::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url('https://images.pexels.com/photos/163403/box-sport-men-training-163403.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  /* background-color: black; */
  filter: grayscale(100%);
  border-radius: 20px;
  background-position: right  ;
}


.bg-martial:hover::before {
  transition: all;
  transition-duration: 300ms;
  filter: grayscale(0%);
  background-position: center;
}

.bg-workout::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url('https://images.pexels.com/photos/1552242/pexels-photo-1552242.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  /* background-color: black; */
  filter: grayscale(100%);
  border-radius: 20px;
  background-position: center left  ;
}


.bg-workout:hover::before {
  transition: all;
  transition-duration: 300ms;
  filter: grayscale(0%);
  background-position: center right;
}

.bg-train {
  background-image: url('https://gymate-iota.vercel.app/static/media/trainer-bg.d8a91ceec330444b6dfd.png');
  background-repeat: no-repeat;
}



